<?xml version="1.0"?>
<phpunit bootstrap="bootstrap.php">
  <testsuites>
    <testsuite name="WSDL generator">
      <file>commentParser.php</file>
      <file>reflectionMethod.php</file>
      <file>wsdlGeneration.php</file>
    </testsuite>
    <testsuite name="Extended annotations">
      <file>annotations.php</file>
    </testsuite>
    <testsuite name="Web service">
      <file>webservice.php</file>
    </testsuite>
  </testsuites>
</phpunit>